flask
flask_cors
langchain
langchain-community
langchain-google-genai
langchain-huggingface
google-generativeai
faiss-cpu
tiktoken
pymupdf
unstructured # Thư viện cần thiết cho UnstructuredWordDocumentLoader
python-docx # Phụ thuộc của unstructured
gunicorn
sentence-transformers
PyPDF2